MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DB=chat_db
JWT_SECRET=your-super-secret-key-change-in-production
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=ваш_логин_от_mailtrap
SMTP_PASS=ваш_пароль_от_mailtrap
SMTP_FROM_EMAIL=noreply@yourdomain.com
NEXT_PUBLIC_APP_URL=http://localhost:3000